body{
           /* margin-left:10%;
           margin-right:10%; */
           /* background-color:grey; */
           
           /* background-image: linear-gradient(50deg,#2857a4 0%,#403066 74%); */
          background-color: rgb(12,16,39);
}

#nav{
           position: fixed;
           top:0px;
           display: block;
           height:80px;
           /* border:1px solid red; */
           width:100%;
           color:green;
           z-index: 1;
           background-color: rgb(12,16,39);

           
}
#nav-icon{
           /* position:relative; */
           display:inline-block;
           height:80%;
           width:4%;
           margin-top:1%;
           box-sizing: border-box;
           /* border:1px solid red; */
}
#nav-icon i{
           height:30px;
           width:100%;
           /* color:red; */
           /* border:2px solid black; */
}
#ninja-studio{
           /* margin-left:10px; */
           display:inline-block;
           color:white;
           font-size:20px;
           
}
#ninja-studio h3,h5{
           margin:0px;
}

#fav{
           display:inline-block;
           margin-left: 10%;
           color:white;
           font-size:1rem;
           position:relative;
        top:-8%;
        font-family: sans-serif;
}

#nav-search{
           /* border:1px solid red; */
           display:inline-block;
           margin-left:35%;
           height:50px;
           width:27%;
           /* border: 1px solid black; */
           border-radius: 15px;
           box-sizing: border-box;
           color:white;
          
           background-color: rgb(18,25,62);
           
}
.fa-magnifying-glass{
           margin-left: 2%;

}
#nav-search input{
           /* background-color:transparent; */
           background-color: rgb(18,25,62);
           border:0px;
           height:100%;
           width:80%;
           padding:0px;
           padding-left: 10px;
           border-radius:15px;
           color:white;
           font-size:1.2rem;
           word-spacing: 0.3rem;
           letter-spacing: 0.1rem;
           /* padding:7px; */
           /* border-radius:%; */
           
}



#nav-search input:focus{
      outline:none;
      /* width:100%; */
     
}

#bell{
           color:white;
           display:inline-block;
           margin-left:4%;
}


#nav-user{
           color:white;
           /* border:1px solid white; */
           /* border-radius:50%; */
           display:inline-block;
           height:20px;
           width:20px;
           padding:5px;
           box-sizing: border-box;
           margin-left:2%;
}


/* Starting main box */


#main{
      width:100%;
      height:auto;
      /* border:1px solid red; */
      position:relative;
      top:100px;
      color:white;
      display:flex;
      flex-direction: row;
}

#main-bar{
      width:77%;
      height:auto;
      /* border:1px solid white; */
      display:inline-block;
}
#side-bar{
      width:23%;
      height:85vh;
      overflow-y:scroll;
      scrollbar-color: red ;
      /* border:1px solid pink; */
      display:inline-block;
}

#side-bar::-webkit-scrollbar {
      height: 12px;
      width: 12px;
      background: transparent;
  }
  
  #side-bar::-webkit-scrollbar-thumb {
      background: transparent;
      -webkit-border-radius: 1ex;
      -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  }
  
  #side-bar::-webkit-scrollbar-corner {
      background: #000;
  }

/* sidebar  */
#side-bar-top{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
}

#side-bar-heading{
      font-size:1.5rem;
      font-weight: bolder;
      font-family: 'Beau Rivage', cursive;
      /* font-family: sans-serif; */

}
#side-bar-heading::first-letter{
      font-size: 2.5rem;
}

.list-item{
      height:70px;
      /* border:1px solid green; */
}
#sidebar-dropdown{
      /* color:greenyellow; */
      color:rgb(76,214,184);
      background: transparent;
      border:0px;
      position:relative;
      top:35%;
      font-size:1rem;
      outline: none;
}

#sidebar-dropdown option{
      /* background: transparent; */
      background-color: rgb(12,16,39);
      border:0px;
      /* outline: none; */
}
#sidebar-dropdown option{
      outline: none;
}


#side-bar-down{
      margin-top:45px;
      /* border:1px solid green; */
}

.l101,.l102,.l103,.l104{
      display:inline-block;
      color:rgba(255,255,255,0.8);
}
.l101{
      height: auto;
      width:10%;
      opacity: 0.5;
      /* position:relative;
      top:35%; */
}
.l102{
      height:100%;
      width:15%;
      /* margin-top:10px; */
      position:relative;
      top:10px;
}
.l102 img{
      height:40px;
      width:40px;
      border-radius:5px;
}
.l103{
      height:100%;
      width:60%;
      position:relative;
      top:10px;
}
.l104{
      height:100%;
      width:5%;
      opacity:0.5;
}

.list-item-heading1{
      font-family: sans-serif;
      font-weight:bold;
      font-size:1rem;
}
.list-item-heading2{
      font-family: sans-serif;
      font-weight:bold;
      font-size:0.7rem;
      opacity:0.5;
}

/* main bar started */


#main-bar{
   display:flex;
   flex-direction: column;
   height:auto;
}

.inner-section{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      /* background-color: greenyellow; */
}

.inner-flex{
      height:130px;
      width:130px;
}

.inner-flex img{
      height:100%;
      width:100%;
      border-radius: 50%;
}

.artist-name{
      text-align:center;
      font-weight:600;
      font-size:15px;
      font-family:sans-serif;
}

.main-section{
      margin-bottom:6%;
}

.main-section h3{
      margin-left:2%;
      font-family:sans-serif;
      word-spacing: 0.2rem;
      line-height: 1rem;
      font-weight: 700;
      
}



.songs img{
      border-radius: 0%;
}


.artist-name-heading,.artist-name-subheading{
      text-align:left;
}

.artist-name-heading{
      text-transform: capitalize;
      font-size:20px;
      line-height:1rem;
      opacity: 0.8;
      /* margin-top:-0px; */
}
.artist-name-subheading{
      color:lightgrey;
      font-size:10px;
       margin-top:-15px;
       opacity:0.5;

}


.section-4{
      height:140px;
      width:30%;
      overflow:hidden;
      position:relative;
}

.section-4 img{
      height:100%;
      width:100%;
      border-radius:0%;
      z-index: -1;
      opacity:0.6;
      transition: 0.5s all ease-in-out;
}

.section-4 img:hover{
      transform: scale(1.5);
      opacity:0.3;
 /* display:none; */
}


.section-4 p{
      /* z-index: 1; */
      color:white;
      position:absolute;
      top:22%;
      left:30%;
      font-family: sans-serif;
      font-size:1.6rem;
      font-weight: 600;


}



/* section 5 */

#section-5{
      padding-top:1%;
      padding-left:3%;
      margin-left:2%;
      margin-right:5%;
      justify-content: space-between;
      background-color: rgb(16,22,66);
      position:relative;

}

#section-5 img{
      height:90px;
      width:90px;
      opacity:0.4;
}

#section-5-station{
      height:130px;
      width:130px;
      margin-right:3%;
    
}
#section-5 div{
      margin-top:20px;
}


#section-5-station img{
  border-radius:0%;
  height:100%;
  width:100%;
  margin-top:-15px;
  opacity:1;
  /* margin-left:0px; */
}

#section-5 .inner-flex{
   position:relative;
}

#section-5 p{

      /* display:none; */
      color:white;
      position:absolute;
      top:20%;
      left:18%;
      font-weight: 700;
      font-family: sans-serif;
      font-size:1rem;
      font-weight: 600;
}
#temp{
      left:8% !important;
}


/* section1 */

.inner-card{
      /* border:1px solid red; */
      width:40%;
      position:relative;
      margin-top:13px;

}

.inner-card img{
      height:100%;
      width:100%;

}
.inner-card div{
      display:inline-block;
      /* border:1px solid green; */
}

.inner-card-img{
      height:100px;
      width:100px;
      
}

.artist-details{
      width:40%;
      height:auto;
      position:absolute;
      top:2%;
      left:124px;
}

.section1-btn{
      /* width:10px; */
      height:auto;
      position:absolute;
      right:10px;
      /* top:10px; */
}

.section1-btn button{
      background-color: rgb(12,16,39);
      color:white;
      outline:none;
      border:none;
}

.section1-btn p{
      position:relative;
      top:20px;
}

#section1 .inner-section{
      flex-wrap: wrap;
}

.artist-details .artist-name-heading{
      font-size:25px;
}
.artist-details .artist-name-subheading{
      font-size: 10px;
}

/* section 0 */

#section0{
      position:relative;
      height:43vh;
      width:100%;
}
#section0 img{
      height:90%;
      width:40%;
      transition: 1s all ease-in-out;
}

#img1{
      position :absolute;
      top:0px;
      left:5%;
      
}

#img2{
      position:absolute;
      top:0px;
      left:25%;
      z-index: 1;
}
#img3{
      position:absolute;
      top:0px;
      left:55%;
}

#section0 img:hover{
      transform: scale(1.5);
      height:100%;
      width:35%;
      z-index: 2;
}